<mat-card>
    <mat-card-header>
      <h5>Distributed Systems</h5>
    </mat-card-header>
    <mat-card-content>
      <h6>Unit Description</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus architecto magnam dignissimos deleniti aperiam eaque praesentium voluptatem a enim atque, blanditiis commodi repudiandae beatae culpa incidunt assumenda similique laboriosam natus.</p>
      <h6>CATs and EXAMS</h6>
      <p>CAT1: not set</p>
      <p>CAT2: not set</p>
      <p>CAT3: not set</p>
      <p>EXAM: not set</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="updatedesc()" type="button">Update Description</button>
      <button mat-flat-button (click)="updatecats()" type="button">Update CAT/Exam Dates</button>
      <button mat-button type="button" (click)="goback()">Go Back</button>
    </mat-card-actions>
  </mat-card>
  