<div class="dashboard">
    <mat-card>
        <mat-card-header>
            <h5>Reminders</h5>
        </mat-card-header>
        <mat-card-content>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>
                        schedule
                    </mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            Artificial intelligence
                        </mat-card-title>
                        <mat-card-subtitle>
                            CAT1 : 12:00 pm : venue: RC18
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../reminders']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>
                        schedule
                    </mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            Artificial intelligence
                        </mat-card-title>
                        <mat-card-subtitle>
                            CAT1 : 12:00 pm : venue: RC18
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../reminders']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>
                        schedule
                    </mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            Artificial intelligence
                        </mat-card-title>
                        <mat-card-subtitle>
                            CAT1 : 12:00 pm : venue: RC18
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../reminders']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>
                        schedule
                    </mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            Artificial intelligence
                        </mat-card-title>
                        <mat-card-subtitle>
                            CAT1 : 12:00 pm : venue: RC18
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../reminders']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="more">
                <a [routerLink]="['../reminders']">See all</a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <h5>Upcoming events</h5>
        </mat-card-header>
        <mat-card-content>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>event_note</mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            <h6>Some hackathon</h6>
                        </mat-card-title>
                        <mat-card-subtitle>
                            12/2/2023 venue: SOE lobby, Duration: 1 week
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../events']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>event_note</mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            <h6>Some hackathon</h6>
                        </mat-card-title>
                        <mat-card-subtitle>
                            12/2/2023 venue: SOE lobby, Duration: 1 week
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../events']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="reminder">
                <div class="icon">
                    <mat-icon>event_note</mat-icon>
                </div>
                <div class="details">
                    <mat-card-title-group>
                        <mat-card-title>
                            <h6>Some hackathon</h6>
                        </mat-card-title>
                        <mat-card-subtitle>
                            12/2/2023 venue: SOE lobby, Duration: 1 week
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <div>
                        <a mat-icon-button [routerLink]="['../events']">
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="more">
                <a routerLink="../events">See all</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>