html{
    width: 100dvw ;
    overflow-x: hidden !important;
}
.unit_details{
    display: flex;
    gap: 20px;
}
mat-card-actions{
    button{
        margin-inline: 10px;
    }
}
@media only screen and  (max-width: 768px){
    .unit_details{
        display: flex;
        flex-direction: column;
        gap: 20px;

        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}