<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                Admin dashboard
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
</mat-card>
<div class="holder">
    <div class="card">
        <div class="card-header">
            <span>Teachers</span>
            <span><mat-icon>face</mat-icon></span>

        </div>
        <div class="card-center"></div>
        <div class="card-footer">
            43532
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span>Students</span>
            <span><mat-icon>face</mat-icon></span>

        </div>
        <div class="card-center"></div>
        <div class="card-footer">
            43532
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span>Employees</span>
            <span><mat-icon>face</mat-icon></span>

        </div>
        <div class="card-center"></div>
        <div class="card-footer">
            43532
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span>Income</span>
            <span><mat-icon>face</mat-icon></span>

        </div>
        <div class="card-center"></div>
        <div class="card-footer">
            43532
        </div>
    </div>
   
</div>
<div class="charts w-95">
    <mat-card>
        <mat-card-content>
            graph main
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            pie chart students
        </mat-card-content>
    </mat-card>
</div>
<div class="summaries w-95">
    <mat-card>
        <mat-card-content>
            events here
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            notices here
        </mat-card-content>
    </mat-card>
</div>
<!-- <p-button label="button" /> -->