<mat-card appearance="outlined">
    <mat-card-header>
        <h3>
            Hello Charles
        </h3>
    </mat-card-header>
    <mat-card-content class="card">
        <mat-card>
            <mat-card-content>
                <!-- <mat-icon></mat-icon> -->
                 <img src="https://img.icons8.com/?size=100&id=NOaUjnAjs42x&format=png&color=000000" alt="">
                 <h4>8</h4>
                 <h6>Active forums</h6>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <!-- <mat-icon></mat-icon> -->
                 <img src="https://img.icons8.com/?size=100&id=21141&format=png&color=000000" alt="">
                 <h4>8</h4>
                 <h6>total courses</h6>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <!-- <mat-icon></mat-icon> -->
                 <img src="https://img.icons8.com/?size=100&id=43215&format=png&color=000000" alt="">
                 <h4>8</h4>
                 <h6> Assignments</h6>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <!-- <mat-icon></mat-icon> -->
                 <img src="https://img.icons8.com/?size=100&id=46127&format=png&color=000000" alt="">
                 <h4>Pending</h4>
                 <h6>Fees balance</h6>
            </mat-card-content>
        </mat-card>
        
    </mat-card-content>
</mat-card>
<div class="summary-main">
    <mat-card appearance="outlined">
        <mat-card-header>
            <h5>Your Performance</h5>
        </mat-card-header>
        <mat-card-content>
            <div class="summary">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHlvdW5nJTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D" alt="" mat-card-avatar>
                </div>
                <div class="details">
                    <h6>Distibuted systems</h6>
                    <p>79 Pass <a href="#">details</a></p>
                </div>
            </div>
            <div class="summary">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHlvdW5nJTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D" alt="" mat-card-avatar>
                </div>
                <div class="details">
                    <h6>Artificial intelligence</h6>
                    <p>79 Pass <a href="#">details</a></p>
                </div>
            </div>
            <div class="summary">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHlvdW5nJTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D" alt="" mat-card-avatar>
                </div>
                <div class="details">
                    <h6>Software engineering</h6>
                    <p>79 Pass <a href="#">details</a></p>
                </div>
            </div>
            <div class="link">
                <a [routerLink]="['results']">See all</a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Upcoming Events">
                    List of Upcoming events
                </mat-tab>
                <mat-tab label="Teaching Schedule">
                    Teaching Sechedule
                </mat-tab>
                <mat-tab label="Notes">
                    Personal notes
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>