<mat-toolbar color="primary" >
    <mat-toolbar-row>
      <span>Evergreen</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/">Dashboard</button>
      <button mat-button [matMenuTriggerFor]="academics">Academics</button>
      <mat-menu #academics="matMenu">
        <a mat-menu-item routerLink="courses">Enrolled courses</a>
        <a mat-menu-item routerLink="results">Results</a>
        <button mat-menu-item [matMenuTriggerFor]="library">Library</button>
    </mat-menu>
    <mat-menu #library>
        <a mat-menu-item routerLink="library">Visit</a>
        <a mat-menu-item routerLink="search">Search resource</a>
    </mat-menu>
      <button mat-button [matMenuTriggerFor]="financials">Financials</button>
      <mat-menu #financials="matMenu">
        <a mat-menu-item routerLink="statements">Fees statements</a>
        <a mat-menu-item routerLink="structures">Fees structure</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="profile">View profile</a>
        <a mat-menu-item>Log Out</a>
      </mat-menu>
      <a mat-button  routerLink="messages">
        <mat-icon>notifications</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="w-90">
    <router-outlet></router-outlet>
  </div>
  