<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                Currently active units
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>
        <div class="unit">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1508138221679-760a23a2285b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8fDB8fHww" alt="" mat-card-sm-image>
            </div>
            <div class="details">
                <mat-card-title-group>
                    <mat-card-title>
                        Distributed Systems
                    </mat-card-title>
                    <mat-card-subtitle>
                        Courses: 3.1 CS, 3.1 EEE
                    </mat-card-subtitle>
                </mat-card-title-group>
                <div>
                    <a  mat-icon-button [routerLink]="['../unit_details', '1']">
                        <mat-icon>
                            chevron_right
                        </mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="unit">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1508138221679-760a23a2285b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8fDB8fHww" alt="" mat-card-sm-image>
            </div>
            <div class="details">
                <mat-card-title-group>
                    <mat-card-title>
                        Distributed Systems
                    </mat-card-title>
                    <mat-card-subtitle>
                        Courses: 3.1 CS, 3.1 EEE
                    </mat-card-subtitle>
                </mat-card-title-group>
                <div>
                    <a  mat-icon-button [routerLink]="['../unit_details', '1']">
                        <mat-icon>
                            chevron_right
                        </mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="unit">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1508138221679-760a23a2285b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8fDB8fHww" alt="" mat-card-sm-image>
            </div>
            <div class="details">
                <mat-card-title-group>
                    <mat-card-title>
                        Distributed Systems
                    </mat-card-title>
                    <mat-card-subtitle>
                        Courses: 3.1 CS, 3.1 EEE
                    </mat-card-subtitle>
                </mat-card-title-group>
                <div>
                    <a  mat-icon-button [routerLink]="['../unit_details', '1']">
                        <mat-icon>
                            chevron_right
                        </mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>