<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <h3>Enrolled units</h3>
            </mat-card-title>
           
        </mat-card-title-group>
    </mat-card-header>
    <br>
    <mat-card-content>
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-subtitle>
                    Semester: 3.1
                    </mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="unit" appearance="outlined">
                    <div class="details">
                        <div class="image">
                            <img src="https://images.nightcafe.studio//assets/vibrant-upscaled.jpg?tr=w-1600,c-at_max" alt="" mat-card-sm-image>
                        </div>
                        <div class="detail">
                            <h6 class="name">Distributed sytems</h6>
                            <p class="lec">Dr. Kituku</p>
                        </div>
                    </div>
                    
                    <mat-card-actions >
                        <!-- <button mat-button >Details</button> -->
                        <a mat-button [routerLink]="['/student/details', '1']">Details</a>
                    </mat-card-actions>
                </div>
                <mat-divider></mat-divider>
        
                <div class="unit" appearance="outlined">
                    <div class="details">
                        <div class="image">
                            <img src="https://images.nightcafe.studio//assets/vibrant-upscaled.jpg?tr=w-1600,c-at_max" alt="" mat-card-sm-image>
                        </div>
                        <div class="detail">
                            <h6 class="name">Artificial intelligence</h6>
                            <p class="lec">Dr. Kituku</p>
                        </div>
                    </div>
                    
                    <mat-card-actions >
                        <!-- <button mat-button >Details</button> -->
                        <a mat-button [routerLink]="['/student/details', '1']">Details</a>
                    </mat-card-actions>
                </div>
                <mat-divider></mat-divider>
                
                <div class="unit" appearance="outlined">
                    <div class="details">
                        <div class="image">
                            <img src="https://images.nightcafe.studio//assets/vibrant-upscaled.jpg?tr=w-1600,c-at_max" alt="" mat-card-sm-image>
                        </div>
                        <div class="detail">
                            <h6 class="name">Theory of computing</h6>
                            <p class="lec">Dr. Kituku</p>
                        </div>
                    </div>
                    
                    <mat-card-actions >
                        <!-- <button mat-button >Details</button> -->
                        <a mat-button [routerLink]="['/student/details', '1']">Details</a>

                    </mat-card-actions>
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            
        </mat-card>

    </mat-card-content>
</mat-card>
<!-- <router-outlet></router-outlet> -->
